In [35]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv('car_dataset.csv')
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [7]:
df['Car_Name'].unique()

array(['ritz', 'sx4', 'ciaz', 'wagon r', 'swift', 'vitara brezza',
       's cross', 'alto 800', 'ertiga', 'dzire', 'alto k10', 'ignis',
       '800', 'baleno', 'omni', 'fortuner', 'innova', 'corolla altis',
       'etios cross', 'etios g', 'etios liva', 'corolla', 'etios gd',
       'camry', 'land cruiser', 'Royal Enfield Thunder 500',
       'UM Renegade Mojave', 'KTM RC200', 'Bajaj Dominar 400',
       'Royal Enfield Classic 350', 'KTM RC390', 'Hyosung GT250R',
       'Royal Enfield Thunder 350', 'KTM 390 Duke ',
       'Mahindra Mojo XT300', 'Bajaj Pulsar RS200',
       'Royal Enfield Bullet 350', 'Royal Enfield Classic 500',
       'Bajaj Avenger 220', 'Bajaj Avenger 150', 'Honda CB Hornet 160R',
       'Yamaha FZ S V 2.0', 'Yamaha FZ 16', 'TVS Apache RTR 160',
       'Bajaj Pulsar 150', 'Honda CBR 150', 'Hero Extreme',
       'Bajaj Avenger 220 dtsi', 'Bajaj Avenger 150 street',
       'Yamaha FZ  v 2.0', 'Bajaj Pulsar  NS 200', 'Bajaj Pulsar 220 F',
       'TVS Apache RTR 180', 'Hero Passion X pro', 'Bajaj Pulsar NS 200',
       'Yamaha Fazer ', 'Honda Activa 4G', 'TVS Sport ',
       'Honda Dream Yuga ', 'Bajaj Avenger Street 220',
       'Hero Splender iSmart', 'Activa 3g', 'Hero Passion Pro',
       'Honda CB Trigger', 'Yamaha FZ S ', 'Bajaj Pulsar 135 LS',
       'Activa 4g', 'Honda CB Unicorn', 'Hero Honda CBZ extreme',
       'Honda Karizma', 'Honda Activa 125', 'TVS Jupyter',
       'Hero Honda Passion Pro', 'Hero Splender Plus', 'Honda CB Shine',
       'Bajaj Discover 100', 'Suzuki Access 125', 'TVS Wego',
       'Honda CB twister', 'Hero Glamour', 'Hero Super Splendor',
       'Bajaj Discover 125', 'Hero Hunk', 'Hero  Ignitor Disc',
       'Hero  CBZ Xtreme', 'Bajaj  ct 100', 'i20', 'grand i10', 'i10',
       'eon', 'xcent', 'elantra', 'creta', 'verna', 'city', 'brio',
       'amaze', 'jazz'], dtype=object)

In [4]:
df.shape

(301, 9)

In [9]:
df['Fuel_Type'].unique()

array(['Petrol', 'Diesel', 'CNG'], dtype=object)

In [14]:
dummies=pd.get_dummies(df['Fuel_Type'],drop_first=True).astype(int)

In [16]:
df=pd.concat([df,dummies],axis='columns')

In [17]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Diesel,Petrol
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0,0,1
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0,1,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0,0,1
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0,0,1
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0,1,0

In [19]:
df['Seller_Type'].unique()

array(['Dealer', 'Individual'], dtype=object)

In [24]:
df['Seller_Type']=df['Seller_Type'].apply(lambda x:0 if x=='Dealer' else 1)

In [25]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Diesel,Petrol
0,ritz,2014,3.35,5.59,27000,Petrol,0,Manual,0,0,1
1,sx4,2013,4.75,9.54,43000,Diesel,0,Manual,0,1,0
2,ciaz,2017,7.25,9.85,6900,Petrol,0,Manual,0,0,1
3,wagon r,2011,2.85,4.15,5200,Petrol,0,Manual,0,0,1
4,swift,2014,4.60,6.87,42450,Diesel,0,Manual,0,1,0

In [26]:
df['Transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [29]:
df['Transmission']=df['Transmission'].apply(lambda x: 0 if x=='Manual' else 1)

In [30]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Diesel,Petrol
0,ritz,2014,3.35,5.59,27000,Petrol,0,0,0,0,1
1,sx4,2013,4.75,9.54,43000,Diesel,0,0,0,1,0
2,ciaz,2017,7.25,9.85,6900,Petrol,0,0,0,0,1
3,wagon r,2011,2.85,4.15,5200,Petrol,0,0,0,0,1
4,swift,2014,4.60,6.87,42450,Diesel,0,0,0,1,0

In [33]:
df=df.drop(['Car_Name','Fuel_Type'],axis='columns')

In [34]:
df.head()

,Year,Selling_Price,Present_Price,Kms_Driven,Seller_Type,Transmission,Owner,Diesel,Petrol
0,2014,3.35,5.59,27000,0,0,0,0,1
1,2013,4.75,9.54,43000,0,0,0,1,0
2,2017,7.25,9.85,6900,0,0,0,0,1
3,2011,2.85,4.15,5200,0,0,0,0,1
4,2014,4.60,6.87,42450,0,0,0,1,0

In [36]:
df['Selling_Price'].describe()

count    301.000000
mean       4.661296
std        5.082812
min        0.100000
25%        0.900000
50%        3.600000
75%        6.000000
max       35.000000
Name: Selling_Price, dtype: float64

In [37]:
df['Present_Price'].describe()

count    301.000000
mean       7.628472
std        8.644115
min        0.320000
25%        1.200000
50%        6.400000
75%        9.900000
max       92.600000
Name: Present_Price, dtype: float64

In [41]:
m=df['Selling_Price'].mean()
st=df['Selling_Price'].std()

In [58]:
df=df[(df['Selling_Price'] <(m + 2*st)) | (df['Selling_Price']> (m - 2*st))]

In [47]:
df.isna().sum()

Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Seller_Type      0
Transmission     0
Owner            0
Diesel           0
Petrol           0
dtype: int64

In [72]:
df=df[(df['Present_Price'] >= (m - 2*st)) & (df['Present_Price'] <= (m + 2*st))]

In [73]:
df.shape

(271, 9)

In [74]:
df.head()

,Year,Selling_Price,Present_Price,Kms_Driven,Seller_Type,Transmission,Owner,Diesel,Petrol
0,2014,3.35,5.59,27000,0,0,0,0,1
1,2013,4.75,9.54,43000,0,0,0,1,0
2,2017,7.25,9.85,6900,0,0,0,0,1
3,2011,2.85,4.15,5200,0,0,0,0,1
4,2014,4.60,6.87,42450,0,0,0,1,0

In [75]:
df.describe()

,Year,Selling_Price,Present_Price,Kms_Driven,Seller_Type,Transmission,Owner,Diesel,Petrol
count,271.000000,271.000000,271.000000,271.000000,271.000000,271.000000,271.000000,271.000000,271.000000
mean,2013.697417,3.588856,5.554649,34964.701107,0.383764,0.084871,0.036900,0.158672,0.833948
std,2.866917,3.019068,4.258679,38855.436709,0.487201,0.279205,0.188866,0.366046,0.372815
min,2003.000000,0.100000,0.320000,500.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2012.000000,0.685000,0.990000,15000.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,2015.000000,3.100000,5.700000,30000.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,2016.000000,5.450000,8.795000,45000.000000,1.000000,0.000000,0.000000,0.000000,1.000000
max,2018.000000,12.900000,14.790000,500000.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [76]:
X=df.drop(['Selling_Price'],axis='columns')
y=df['Selling_Price']

In [78]:
X.head()

,Year,Present_Price,Kms_Driven,Seller_Type,Transmission,Owner,Diesel,Petrol
0,2014,5.59,27000,0,0,0,0,1
1,2013,9.54,43000,0,0,0,1,0
2,2017,9.85,6900,0,0,0,0,1
3,2011,4.15,5200,0,0,0,0,1
4,2014,6.87,42450,0,0,0,1,0

In [79]:
 X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.33, random_state=42)

In [82]:
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor()

In [83]:
model.fit(X_train,y_train)

RandomForestRegressor()

In [85]:
model.score(X_test,y_test)

0.9625796700190247